.login-card{
  background-color: #f1faff;
  //#f1faff
  margin: 0;
}

.login-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background: white;
  // margin-top: 10px; 
  margin: 0;
  padding: 1rem;
}

.login-row {
  width: 80%;
  max-width: 1000px;
  height: 100%;
  // max-height: 550px;
  border-radius: 15px;
  overflow: hidden;
  background: #ffffff;
  margin: 0;
}

.element {
  box-shadow: 4px 4px 10px rgba(#8f95a5, 0.5); 
  
}

.element2 {
  box-shadow: 4px 4px 15px rgba(128, 128, 128, 0.5);
  
}


// .height-card{
//   height: 50%;
// }

.login-illustration {
  width: 100%;
  height: 60%;
  // max-height: 300px;
  margin-top: 100px;
  // object-fit: contain;
  // object-fit: cover;
}

.form-container {
  padding: 1.5rem;
  // background: #ffffff;
  background: #00525d;
  // font-size: 15px;
}

.form-opening {
  padding: 1rem;
  // background: #ffffff;
  background: #ffe9e1;
  text-align: center;
  color: #00525d;
}

.login-card {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: none;
  padding: 1rem;
  background: #ffffff;
  // padding-top: 1px;
}

.font-form{
  color: #00525d;
  font-weight: 700;
}

.font-footer{
  color: #00525d;
  font-weight: 400;
}

.sign-in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sign-in__backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sign-in__wrapper .container-fluid {
  max-width: 90%;
  z-index: 1;
  animation: showSignInForm 1s;
}

@keyframes showSignInForm {
  0%,
  30% {
    transform: translate(0, -150%);
  }
  70%,
  90% {
    transform: translate(0, 1rem);
  }
  80%,
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 640px) {
  .form-opening {
    font-size: 0.9rem;
  }

  .login-card {
    padding: 0.5rem;
  }

  .login-illustration {
    max-height: 200px;
  }
}

@media (max-width: 800px) {
  .login-row{
    position: relative;
    // margin-top: 12%;
  }
}

@media (max-width: 1920px) {
  .login-row{
    position: relative;
    // margin-top: 8%;
  }
}

