.font-divisi{
    font-size: 20px;
    color: #00c19c ; //#0c8787
    font-weight: 600;
    margin-left: 15px;
}

.font-id{
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}

.font-tanggal-pengajuan{
    
    margin-left: 15px;
}

.font-judul-total{
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
}

.font-total{
    font-size: 32px;
    font-weight: 700;
    margin-right: 15px;
}

.font-proses{
    // font-size: 18px;
    // font-weight: 700;
    margin-right: 15px;
}